# Byte‐compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# IDE/project files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask / Python logs
*.log

# yt-dl cookies and downloaded media
mp4s/
*.mp4
mp3s/
*.mp3
